*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    margin: 1rem;

}

h2 {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding-left: 1rem;
    gap: 1rem;
}

img {
    border: 18px groove #fff !important;
    border-radius: 9px;
    margin: 2rem;

}

label {
    font-weight: 600;
    font-size: 1.5rem !important;
}

input {
    width: 3rem;
    height: ;
}